.menu-icon i, .breadcrumb {
    color: var(--theme-white) !important;
}
.app {
    color: var(--theme-white);
    background-color: #222 !important;
}
.app-header {
    color: var(--theme-white) !important;
    background-color: #111 !important;
}
.pace-done {
    background-color: #222 !important;
}
.log-start {
    color: #fff !important;
    background-color: #222 !important;
    font-family: "Verdana", sans-serif;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 24px;
    line-height: 1.5;
    text-align: center;
}
.brand-img-text {
    color: var(--theme-white) !important;
    margin-left: 60px;
    font-size: 18px !important;
    font-family: "Roboto", sans-serif;
}
.brand-img-extra {
    font-weight: bold;
    color: var(--theme-white) !important;
    margin-left: 7px;
    margin-bottom: 3px;
    font-size: 19px !important;
    font-family: "Roboto", sans-serif;
}
.brand-img-extra {
    font-weight: bold;
    color: var(--theme-white) !important;
    margin-left: 7px;
    margin-bottom: 3px;
    font-size: 19px !important;
    font-family: "Roboto", sans-serif;
}
.brand-text {
    margin-left: 55px;
    font-size: 14px !important;
    transition: all 0.5s ease;
    font-family: "Roboto", sans-serif;
}

.blur-text {
    filter: blur(1px);
}

body {
    font-family: "Roboto", sans-serif;
    background-color: #111;
    color: #fff;
}
    
h1 {
    color: #fff !important;
    font-size: 24px;
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
}

#games-list {
    color: #fff !important;
    list-style-type: none;
    background-color: #222;
    padding: 0;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin: 0;
}

#xml-content {
    color: #fff !important;
    background-color: #222;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    font-family: "Verdana"
}

#xml-content pre {
    background-color: #222;
    border: 1px solid #444;
    padding: 10px;
    overflow-x: auto;
    white-space: pre-wrap;
    display: inline-block;
    text-align: left;
}

.game-item {
    flex: 0 0 calc(33.33% - 20px);
    margin: 10px;
    border: 1px solid #666;
    padding: 10px;
    box-sizing: border-box;
    background-color: #222;
}

.game-item img {
    max-width: 100%;
    height: auto;
}
