.menu-icon i, .breadcrumb {
    color: var(--theme-white) !important;
    padding-right: 50px;
}

.no-theme-change {
    color: initial !important;
}

.brand-text {
    transition: all 0.5s ease;
    font-family: "Roboto", "Arial", sans-serif;
}

.blur-text {
    filter: blur(1px);
}

body {
    font-family: "Roboto", "Arial", sans-serif;
    background-color: #111;
    color: #fff;
}
    
h1 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
    text-align: center;
}

#games-list {
    list-style-type: none;
    background-color: #222;
    padding: 0;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin: 0;
}

#xml-content {
    margin-top: 20px;
    font-family: "Roboto", "Arial", sans-serif;
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
}

#xml-content pre {
    background-color: #222;
    border: 1px solid #444;
    padding: 10px;
    overflow-x: auto;
    white-space: pre-wrap;
    display: inline-block;
    text-align: left;
}

.game-item {
    flex: 0 0 calc(33.33% - 20px);
    margin: 10px;
    border: 1px solid #666;
    padding: 10px;
    box-sizing: border-box;
    background-color: #222;
}

.game-item img {
    max-width: 100%;
    height: auto;
}
